
.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

.hamburger{
    display: none;
}

.hamburger.focus{
    outline: 0;
}

.hamburger-img{
    width: 30px;
}

@media only screen and (max-width: 1000px){
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        margin: 20px;
        align-self: flex-end;
    }

    ul{
        flex-direction: column-reverse;
        display: block;
        background-color: #2b2c38;
        margin: 0px;
    }

    nav{
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo{
        display: none;
    }
}