body{
    background-color: rgb(44, 44, 44);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.whole_page{
    display: grid;
    grid-template-columns: 25% auto;
}

header{
    font-size: max(80%, 3vh);
    height: 15vh;
    display: flex;
    background-color: gray;
    justify-content: center;
    text-align: center;
    grid-column: 1 / 3;
}

h1{
        
    margin-top: auto;
    display: flex;
}

.navbar{
    height: 70vh;
    background-color: rgb(90, 90, 90);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(90, 90, 90);
}

button{
    font-size: max(140%, 5vh);
}

li button{
    width: 100%;
    display: block;
    background-color: rgb(90, 90, 90);
    color: black;
    border: 0;
    padding: 9% 4%;
    text-decoration: none;
    text-transform: capitalize;
}

li button:hover{
    background-color: rgb(51, 51, 51);
    color: white;
}

.main{
    background-color: white;
    overflow: scroll;
    height: 70vh;
}

h2{
    font-size: max(140%, 5vh);
    margin: 6%;
}

p{
    font-size: max(80%, 3vh);
    margin: 6%;
}

footer{
    font-size: max(60%, 2vh);
    height: 15vh;
    display: flex;
    background-color: rgb(44, 44, 44);
    color: white;
    justify-content: center;
    text-align: center;
    grid-column: 1 / 3;
}