body{
    margin: 0;
    color: #cccccc;
    background-color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
}

h2{
    font-size: 3em;
    text-shadow: 3px 3px blueviolet;
}

header{
    margin: 0;
    height: 100px;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: #1b1b1b;
    border-bottom-color: blueviolet;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.header_link{
    width: fit-content;
    margin: 20px;
    font-size: 2em;
    text-decoration: none;
    color: #cccccc;
    font-weight: bold;
}

h3{
    width: fit-content;
    margin: auto;
    font-size: 4em;
    justify-content: stretch;
}

section{
    width: 100%;
    height: 100%;
}

nav{
    position: fixed;
    overflow: auto;
    width: 20%;
    height: 100%;  
    background-color: #1f1f1f;
}

ul{
    padding-top: 80px;
    padding-left: 0;
    list-style: none;
}

.shortcut{
    width: auto;
    padding: 5%;
    display: block;
    font-size: 2em;
    color: blueviolet;
    text-decoration: none;
}

.shortcut:hover{
    background-color: #141414;
}

.main_background{
    width: 60%;
    height: 100%;
    margin-left: 20%;
    overflow: auto;
}

#main{
    padding: 0px 32px 32px 32px;
}

.post{
    padding-top: 80px;
}

p{
    font-size: 1.5em;
    margin: 10px;
}


.flex_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px;
    width: calc(100% - 50px);
    padding-top: 100px;
}

.plan_block{
    width: 350px;
    height: 400px;
    margin: 20px;
    border-radius: 30px;
    border-color: #4e1a80;
    border-width: 2px;
    border-style: solid;
}

.plan_block_body{
    background-color: #1f1f1f;
    width: 350px;
    height: 350px;
}

h4{
    margin: 0;
    align-content: center;
    height: 50px;
    font-size: 2em;
    border-radius: 30px;
    border-color: #4e1a80;
    border-width: 2px;
    border-style: solid;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #1b1b1b;
}