body{
    background-color: white;
    text-align: left;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    margin-left: 50px;
    margin-top: 80px;
    width: 100%;
}

.infopage{
    display: flex;
    align-items: center;
    width: 80%;
    height: 450px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 20px 20px 80px rgb(132, 132, 132); 
}

.info{
    height: 100%;
}

.historiafakta{
    margin: 40px;
    float: left;
}

.betydelsefakta{
    margin: 40px;
    float: left;
}

.tim{  
    width: 40%;  
    float: right;
}

figure{
    margin: 40px;
}

#timpic{
    width: 100%;
}
#timcap{
    font-size: 12px;
}

@media (max-width: 800px){
    .infopage{
        flex-wrap: wrap;
        height: 700px;
    }
    .info{
        height: 300px;
    }
    .tim{
        align-self: flex-end;
        align-self: center;
    }
}