body {
    background-color: rgb(255, 0, 255);
}

table, th, td {
    border: 3px dashed black;
    width: 400px;
}
.hundar{
    width: 200px;
}
h4{
    font-style: italic;
    text-decoration: underline;
}